.details-page-container {
  position: relative;
  padding: 0 19.3vw;
}

.details {
  height: fit-content;
  width: 100vw;
  background-color: #333;
  padding: 2rem 0;
}

.details .pre-title {
  color: var(--brand-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details .details-title {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details .description {
  margin-top: 1.5rem;
}

.details-info {
  width: 60%;
  color: white;
}

.details-card {
  width: 319px;
  position: absolute;
  top: 0;
  right: 15vw;
  background-color: white;
  border: 2px solid white;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.3);
}

.details-card img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.details-card .card-info {
  padding: 1rem;
}

.details .details-info .author {
  display: none;
  margin-top: .7rem;
  color: white;
}

.details .details-info .reaction-btn {
  display: none;
  width: fit-content;
  gap: 1rem;
  border-radius: 5px;
}

.details .author {
  color: black;
  margin-bottom: 0.5rem;
}


.details .author h3 {
  display: inline-block;
}

.details-card .reaction {
  color: black;
  border: 1px solid var(--lines-color);
  padding: 1rem;
}

.details-card .reaction .reaction-question {
  font-weight: 600;
}

.details .reaction-btn {
  margin-block: 0.5rem;
  width: 100%;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.8rem;
  background-color: var(--brand-secondary);
  color: white;
  border: none;
  cursor: pointer;
}

.details .reaction-btn:hover {
  background-color: #07ad73;
}

.reaction-btn ion-icon {
  font-size: 2rem;
}

.details-card .reaction .credits {
  text-align: center;
  color: #938585;
}

.sub-topics {
  background-color: var(--bg-default);
  width: 60%;
  min-height: 10rem;
  margin-top: 2rem;
  border-radius: 5px;
  border: 1px solid var(--lines-color);
}

.sub-topics ul li h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-topics ul li {
  color: var(--body-text);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--lines-color)
}

.sub-topics ul li ion-icon {
  color: var(--brand-secondary);
  font-size: 1.5rem;
  flex-shrink: 0;
}



