body {
  background-color: var(--bg-body);
}

li {
  list-style: none;
}

img {
  display: block;
}

.container {
  padding: 0 4vw;
}

header {
  position: relative;
  background-color: var(--bg-default);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.19rem 0;
}

header nav h1.main-title {
  color: var(--brand-primary);
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

header nav h1.main-title a {
  text-decoration: none;
  color: inherit;
}

header nav ul {
  display: flex;
  gap: 5px;
}

header nav ul li ion-button {
  color: var(--body-text);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  font-size: .9rem;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid var(--lines-color);
  padding: .3rem .6rem;
  cursor: pointer;
}

/* ------------------- */
.banner {
  background-color: var(--bg-default);
  position: relative;
  height: 7rem;
}

.banner .banner-content {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: 20;
}

.banner .banner-content h2 {
  color: var(--brand-secondary);
  font-weight: 800;
  font-size: 1.3rem;
  line-height: 1.1;
}

.banner .banner-content p {
  color: var(--body-text);
}

.banner .banner-shapes {
  position: absolute;
  width: 100%;
  height: 4.3rem;
}

.banner .banner-shapes:first-child {
  background: linear-gradient(to left top, transparent 0%, transparent 50%, var(--brand-primary) 51%, var(--brand-primary) 100%);
  left: 0;
  z-index: 10;
}

.banner .banner-shapes:nth-child(2) {
  background: linear-gradient(to right top, transparent 0%, transparent 50%, var(--brand-secondary) 51%, var(--brand-secondary) 100%);
  right: 0;
  z-index: 5;
}

/* ------------------------------ */
main {
  margin: 1.5rem 0 1rem
}

main .search {
  background-color: var(--bg-default);
  color: var(--body-text);
  display: flex;
  overflow: hidden;
  border-radius: 0.6rem;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.3);
}

main .search .search-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 70%;
}

main .search ion-icon.search-outline {
  position: absolute;
  left: 0.6rem;
}

main .search input {
  background-color: inherit;
  color: var(--body-text);
  width: 100%;
  padding: 0.8rem;
  padding-left: 2.4rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-right: 1px solid var(--lines-color);
}

main .search .search-filters {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

main .search .drop-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  padding: 0.2rem 0.8rem 0.3rem;

  border-left: 1px solid var(--lines-color);
}

main .search .drop-menu:not(:last-child) {
  border-right: 1px solid var(--lines-color);
}

main .search label {
  font-size: .7rem;
}

main .search select {
  background-color: var(--bg-default);
  color: var(--body-text);
  appearance: none;
  width: 100%;
  border: none;
  font-size: 1.01rem;
  letter-spacing: -1px;
  cursor: pointer;
}

main .search .select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -------------------------------- */

main h2 {
  color: var(--body-text);
}

main .topics {
  margin-top: 1.4rem;
}

/* main .topics .cards { */
.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin-top: 1.55rem;
}

main .topics .cards .card a  {
  text-decoration: none;
  color: inherit;
}

/* main .topics .cards .card { */
.cards .card {
  background-color: var(--bg-default);
  color: var(--body-text);
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;
}

/* main .topics .cards .card img { */
.card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  background-color: var(--body-text);
}

/* main .topics .cards .card .card-info { */
.card .card-info {
  padding: 0.9rem;
}

/* main .topics .cards .card .card-info .pre-title { */
.card .card-info .pre-title {
  font-size: 0.79rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* main .topics .cards .card .card-info .title { */
.card .card-info .title {
  font-size: 0.9rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* main .topics .cards .card .card-info .rate { */
.rate {
  display: flex;
  margin-bottom: 1rem;
}

/* main .topics .cards .card .card-info .rate ion-icon { */
.rate ion-icon {
  color: orange;
}

main .topics .cards .card .card-info p.author {
  font-size: 0.8rem;
  opacity: 0.8;
}
/* --------------------------- */

.drawer {
  background-color: var(--bg-default);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 30vh;
  padding-block: 1.5rem;
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
}

.drawer .drawer-title {
  color: var(--body-text);
}

.drawer .cards {
  /* grid-template-columns: repeat(8, 1fr); */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* margin-top: 1rem; */
}

.drawer .cards .card {
  width: 7rem;
}

.drawer .cards .card img {
  height: 60px;
}

.drawer .cards .card .card-info {
  padding: .5rem;
}

.drawer .card .card-info .title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  height: fit-content;
  margin-bottom: 0;
}

.drawer .card .card-info .rate {
  margin-bottom: 0;
}


/* --------------------------- */
footer {
  color: var(--body-text);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  margin-block: 1.5rem;
}

footer ion-icon {
  color: red;
  font-size: 2rem;
}

.hidden {
  display: none;
}